*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    overflow: hidden;
    width: min(59rem, 90%);
    display: flex;
    margin: 0 auto;
    /* align-items: center; */
    width: 100vw;
    /* height: 100vh; */
    background: #4F4F4F;
    /* align-content: center; */
    margin-left: 17%;
}

html, body {
    min-height: 100%;
}

.titulo{
    width: 63.9rem;
    height: 5.7rem;
    font-family: 'Righteous', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
    color: #E0E0E0;
    text-align: center;
    
}

.pontuacao, .iniciar {
    width: 22.3rem;
    height: 26.2rem;
    background: #E0E0E0;
    border: .5rem #6AB2A1 solid;
    border-radius: .8rem;
}

.resultadoTotal, .regras {
    width: 22.3rem;
    height: 43.8rem;
    background: #E0E0E0;
    border: .5rem #6AB2A1 solid;
    border-radius: .8rem;
}

.pontuacao, .iniciar {
    margin-bottom: 1.3rem;
}

.mostrador {
    height: 5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #bfc0c0;
}

.mostrador img {
    margin-left: 2rem;
}

h2 {
    font-family: 'Righteous', sans-serif;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2.5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-left: 1.3rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 1.3rem;
    margin-top: 3rem;
}

.tabuleiro{
    width: 63.9rem;
}

.tabuleiro img {
    width: 8rem;
}

.espaco {
    width: 21.1rem;
    height: 21.1rem;
    border: .2rem #6AB2A1 solid;
    background: #E0E0E0;
    float: left;
    text-align: center;
    padding-top: 6.5rem;
    cursor: pointer;
}

.coluna1 {
    margin-right: 8.4rem;
    /* margin: 13%; */
}

.coluna2{
    margin-left: 8.4rem;
}  /* margin-top: 3rem; */

.topicos ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    padding: 0rem .2rem 0rem 3rem;
    margin-top: 3rem;
}

.topicos ul li{
    padding: 0rem 0rem 2rem 0rem;
}

.coluna1, .coluna2, .colunaCentro {
    margin-top: 12.6rem;
}

.iniciar img {
    align-items: center;
    width: 4.5rem;
    height: 5rem;
    margin: 3rem 3rem 2rem;
}

.iniciar img + img {
    width: 4.5rem;
    height: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 5rem;
    margin-left: -17%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(224, 224, 224);
}